@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Poppins:wght@300;400;600;700;800;900&display=swap");

:root {
  /* bg colors */
  --background: #333237;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;
  --nav-it: #9145c4;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

header img {
  width: 25%;
}

.nav {
  display: flex;
}

.container-logo {
  display: flex;
  width: 50%;
}

.container-items {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}

.nav-items {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 15px;
}

.nav-items li {
  font-family: "Roboto", sans-serif;
}

.nav-items a:link,
.nav-items a:visited,
.nav-items a:active {
  text-decoration: none;
  color: var(--text-white);
}

.nav-items a:hover {
  color: var(--nav-it);
  cursor: pointer;
  font-weight: bold;
}

#hero {
  display: flex;
  /* flex-direction: column; */
  /* max-width: 1200px; */
  /* gap: 10px; */
  justify-content: space-evenly;
}

.hero-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  gap: 30px;
}

.hero-info h1 {
  font-size: 40px;
  font-weight: 800;
  width: 80%;
  min-width: 500px;
  font-family: "Roboto", sans-serif;
  color: var(--text-white);
}

.hero-info p {
  font-size: 20px;
  width: 80%;
  color: var(--text-white);
  font-family: "Roboto", sans-serif;
}

.hero-info span {
  font-weight: 800;
  text-transform: uppercase;
}

.hero-img img {
  width: 90%;
  border-radius: 8px;
}

.info-btn {
  display: flex;
  justify-content: flex-start;
  gap: 100px;
}

.btn-1 {
  color: var(--bg-electric);
  background-color: #9145c4;
  border-radius: 12px;
  text-decoration: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.btn-2 {
  background-color: transparent;
  border: solid 2px black;
  color: var(--bg-electric);
  border-radius: 12px;
  text-decoration: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

#more-info {
  margin-top: 60px;
  max-width: 1200px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--bg-electric);
}

.info-btn a:hover {
  color: #9145c4;
  background-color: black;
  cursor: pointer;
}
