@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Poppins:wght@300;400;600;700;800;900&display=swap");

:root {
  /* bg colors */
  --background: #19181a;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #0f1525;
  --nav-it: #9145c4;

  /* Text colors */
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

header img {
  width: 25%;
}

.nav {
  display: flex;
}

.container-logo {
  display: flex;
  width: 50%;
}

.container-items {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}

.nav-items {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 15px;
}

.nav-items li {
  font-family: "Roboto", sans-serif;
}

.nav-items a:link,
.nav-items a:visited,
.nav-items a:active {
  text-decoration: none;
  color: var(--text-white);
}

.nav-items a:hover {
  color: var(--nav-it);
  cursor: pointer;
  font-weight: bold;
}

#hero {
  display: flex;
  /* flex-direction: column; */
  /* max-width: 1200px; */
  /* gap: 10px; */
  justify-content: space-evenly;
}

.hero-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  gap: 40px;
}

.hero-info h1 {
  font-size: 40px;
  font-weight: 800;
  width: 80%;
  min-width: 500px;
  font-family: "Roboto", sans-serif;
  color: var(--text-white);
}

.hero-info p {
  font-size: 20px;
  width: 80%;
  color: var(--text-white);
  font-family: "Roboto", sans-serif;
}

.hero-info span {
  font-weight: 800;
  text-transform: uppercase;
}

.hero-img img {
  width: 90%;
  border-radius: 8px;
}

.info-btn {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.btn-1 {
  color: var(--bg-electric);
  background-color: #9145c4;
  border-radius: 12px;
  text-decoration: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.btn-2 {
  background-color: transparent;
  border: solid 1px rgba(235, 227, 227, 0.993);
  color: var(--bg-electric);
  border-radius: 12px;
  text-decoration: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

#more-info {
  margin-top: 60px;
  max-width: 1200px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: var(--bg-electric);
}

.info-btn a:hover {
  color: #9145c4;
  background-color: black;
  cursor: pointer;
}

.nav-about {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 0;
  margin: 0;
  /* position: relative;
    z-index: 1; */
  display: flex;
}

.about-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.about-us {
  background-color: black;
  opacity: 0.9;
  color: white;
  border-radius: 5px;
  width: 75%;
  height: 50%;
  padding: 1.5%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 5%;
}

.about-us h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  color: darkmagenta;
  font-weight: 2000;
}

.about-us p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2%;
  margin-bottom: 5%;
}

.cards {
  background-color: white;
  opacity: 0.9;
  color: black;
  border-radius: 5%;
  width: 30%;
  padding: 1.5%;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.img-person1 {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.cards h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  color: darkmagenta;
  font-weight: 800;
}

.cards p {
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
  margin-bottom: 5%;
}

.age {
  background-color: black;
  text-align: center;
  color: white;
  width: 30%;
  margin: auto;
  padding: 1%;
  margin-bottom: 5%;
}

.follows {
  color: rgba(95, 11, 95, 0.959);
  font-weight: 550;
}

.want-it:link,
.want-it:visited,
.want-it:active {
  text-decoration: none;
  color: rgb(51, 51, 182);
  font-weight: bold;
}

.want-it:hover {
  color: rgb(175, 29, 29);
}

.container-form {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  margin-top: 1%;
  /* margin-bottom: 3%; */
}

.form {
  background-color: white;
  opacity: 0.9;
  color: black;
  border-radius: 5%;
  width: 50%;
  padding: 1%;
  text-align: center;
  display: flex;
  /* flex-direction: column; */
  font-family: "Roboto", sans-serif;
}

.img-form img {
  width: 60%;
  align-items: center;
  margin-top: 20%;
}

.labels {
  padding: 3%;
  color: darkmagenta;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

input:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 10px darkmagenta;
}

textarea:focus {
  outline: none !important;
  border-color: black;
  box-shadow: 0 0 10px darkmagenta;
}

.sign-up {
  margin-top: 1%;
}

textarea {
  margin-top: 1%;
  margin-bottom: 1%;
}

.btn {
  background-color: black;
  color: #c13584;
  width: 25%;
  padding: 2%;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

.btn:hover {
  cursor: pointer;
  color: deeppink;
}

.sign-in {
  margin-top: 3%;
}

.have-it:link,
.have-it:visited,
.have-it:active {
  text-decoration: none;
  color: rgb(182, 51, 112);
}

.have-it:hover {
  font-weight: bolder;
  font-size: 1.1em;
}

footer {
  margin-top: 30px;
  margin-bottom: 0;
  position: relative;
}

.cont-footer {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 15%;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  bottom: 0;
  left: 0;
}

/* MEDIA QUERYS */

@media only screen and (max-width: 1000px) {
  .nav-about {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: black;
  }

  .container-items {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .container-logo img {
    width: 25%;
    margin-left: 5%;
  }

  .nav-about-items {
    list-style: none;
    margin-left: 5%;
    width: 100%;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-us {
    width: 85%;
  }

  .cards {
    width: 70%;
    margin-top: 5%;
    /* background-color: black;
  color: white; */
  }
  .age {
    width: 30%;
  }

  .iconos-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    position: relative;
    margin-top: 5%;
  }
}

@media only screed and (max-width: 900px) {
  .cards {
    width: 40%;
  }
}

@media only screen and (max-width: 300px) {
  .container-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: small;
  }

  .container-logo img {
    width: 30%;
    margin-left: 5%;
  }

  .nav-about-items {
    list-style: none;
    width: 100%;
  }

  .cards {
    width: 90%;
  }

  .age {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .container-items {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: small;
  }

  .container-logo img {
    width: 30%;
    margin-left: 5%;
  }

  .nav-contact-items {
    list-style: none;
    width: 100%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .form {
    margin-top: 25%;
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .btn {
    width: 40%;
  }

  .iconos-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
    position: relative;
    margin-top: 25%;
  }
}
